.hero {
    background-color: burlywood;
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
    color: black;
    font-size: 50px;
}