.register-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: burlywood;
    height: 85vh;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


@media (max-width: 480px) {}

@media (max-width: 880px) {}